@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.heading{

    height: 500px;
    display: inline-block;
    width: 100%;
    text-align: center;
    
    
    
}

.Para-heading{
   padding-left: 110px ;
   padding-top: 50px;
    font-family: 'Dancing Script',cursive;
    font-size: 180%; 
    color: black;
}

.box{
    align-content: center;
    display: inline-block;
    background-color: #e0dede; 
    border-radius: 20px; 
    height: 30%; 
    width: 80%;  
    margin: 30px;
    

}

.box:hover{
    color: white;
}

.nav-box{
    display: inline-block;
    background-color: #ff847c;
    height: 80px;
    width: 100%;
    position: relative;
}

.work{
    background-color: #f4f6ff;
    height: 400px;
    
    width: 100%;
}

.text-works{
    position: absolute;
    padding-bottom:800px;
}

.bottomBox{
    height: 100px;
    background-color: #ff847c;
    
}

.emptyBox{
    position: relative;
    height: 400px;
    width: 100%;
    background-color: white;
    align-content: center;
}

.nav-links{
    color: white ;
    font-size: 20px;
    text-align: center;
    text-decoration-line: none;
}

.nav-links:hover{
    color: black;
}

.Intro{

    width: 100%;
    background-color: #ddf3f5;
    height: 50%;
}
 .MyBackground{
     align-content: center;
     display: inline-block;
     margin-top: 12%;
     position: relative; 
 }

 .emptyBoxAbout{
     height: 400px;
 }

 .hero-image {
    background-image: url("/images/1.png");
    width: 100%;
    position: relative;
    margin-top: 20px; 
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    
  }
  .nav-links:link{
      color:azure;
  }
 